#post_content

  %h1.title= @post.title

  %p.date= "Created #{time_ago_in_words(@post.created_at)} ago"
  .utilities
    %span.green= link_to 'Edit', edit_post_path(@post)
    %span.red= link_to ' Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete #{@post.title}?" }
  %p.body= @post.body

  #comments
    %h2= "#{@post.comments.count} Comments"
    = render @post.comments
    %h3 Join Discussion
    = render "comments/form"

